{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title_block %} {{ title }} {% endblock %}

{% block body_block %}

<div class="banner">
    <img class="img img-fluid w-100" src="{% static 'img/banner.png' %}" alt="">
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="mt-md-5 text-center">Search Products</h2>
                    <hr>
                    <!-- <form class="" method="get" action=""> -->
                        {% csrf_token %}
                        <div class="mb-2">
                            <label class="form-label">Category : </label>
                            <select class="form-select" name="category" id="category">
                                <option value="" selected>All Categories</option>
                                {% for category in form.category.field.queryset %}
                                    <option value="{{ category.pk }}">{{ category }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="mb-2">
                            <label class="form-label">Brands : </label>
                            <select class="form-select" name="brand" id="brand">
                                <option value="" selected>All Brands</option>
                                {% for brand in form.brand.field.queryset %}
                                <option value="{{ brand.pk }}">{{ brand }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div class="mb-2">
                            <label class="form-label" for="">Warranty : </label>
                            <select class="form-select" name="warranty">
                                <option value="" selected>All Warranties</option>
                                {% for warranty in form.warranty.field.queryset %}
                                <option value="{{ warranty.pk }}">{{ warranty }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div class="mb-2">
                            <label class="form-label" for="">Min Price : </label>
                            <input class="form-control" type="number" value="{{ form.min_price.value }}">
                        </div>

                        <div class="mb-2">
                            <label for="">Max Price : </label>
                            <input class="form-control" type="number" value="{{ form.max_price.value }}">
                        </div>

                        <div class="text-center">
                            <button class="btn btn-success" id="get_data">SEARCH</button>
                        </div>
                    <!-- </form> -->
                    <hr>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <h2 class="mt-5 text-center">Featured Product</h2>
            <hr>
            <div class="row" id="search-results-holder">
            </div>
            <div class="row" id="search-results">
                {% for product in products %}
                <div class="col-md-6 col-sm-12 col-lg-3" id="search-results-container">
                    <figure class="card card-product">
                        <div class="img-wrap">
                            <img src="/media/{{ product.mainimage }}" class="img img-fluid" alt="" style="width: 100%; height: 300px;">
                        </div>
                        <figcaption class="info-wrap">
                            <h6 class="title"><a href="#">{{ product.name }}</a></h6>
                            <div class="action-wrap">
                                <div class="price-wrap h5">
                                    <span class="price-new">Price: &#2547; {{ product.price|floatformat:2 }}</span>
                                    <br>
                                    <span class="price-old">Old Price: &#2547; <strike>{{ product.old_price|floatformat:2 }}</strike>
                                    </span>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %} 
